.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    img {
      animation: fadeIn 3s 2.5s backwards;
    }

    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
      position: absolute;
      left: 30%;
      top: -14.2%;
      animation: fadeOut 3s 2.5s forwards;
    }
  
    .solid-logo {
      position: absolute;
      top: 9.5%;
      right: auto;
      bottom: auto;
      left: 31.5%;
      margin: auto;
      width: 78%;
      transform: rotateZ(30deg) !important;
      z-index: 1;
    }
}
  
.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}

@media(max-width: 812px) {
  .logo-container{
    svg {
      left: 40%;
      top: 35%;
    }
    .solid-logo {
      left: 55%;
      top: 49%;
    }
  }

}
